<%= link_to '返回', admin_infos_path %>

<h3>修改新闻</h3>
<br>

<div class="row">
  <div class="col-md-12">
    <%= form_for @info, url: admin_info_path(@info), html: { multipart: true } do |f| %>
      <%= render 'admin/shared/error_messages', object: @info %>

      <%= f.label :category, "新闻分类" %><br>
      <%= f.select(:category, options_for_select(Info.category_options, @info.category), {}, {class: "form-control"}) %>
      <br>

      <div class="form-group form-check">
        <%= f.check_box :hide_in_design_staff_news, class: 'form-check-input' %>
        <label class="form-check-label" for="info_hide_in_design_staff_news">在设计团队人员相关新闻中隐藏</label>
      </div>

      <div class="form-group form-check">
        <%= f.check_box :hide_in_index_news, class: 'form-check-input' %>
        <label class="form-check-label" for="info_hide_in_index_news">在新闻列表中隐藏</label>
      </div>

      <%= f.label :title, "标题" %>
      <%= f.text_field :title, class: 'form-control' %>
      <br>

      <%= f.label :title, "小标题" %>
      <%= f.text_field :sub_title, class: 'form-control' %>
      <br>

      <%= f.label :introduction, "引言" %>
      <%= f.text_area :introduction, class: 'form-control', rows: "4" %>
      <br>

      <%= f.label :seo_title, "SEO 标题（空则使用默认）" %>
      <%= f.text_field :seo_title, class: 'form-control' %>
      <br>

      <%= f.label :seo_keywords, "SEO 关键字（空则使用默认）" %>
      <%= f.text_field :seo_keywords, class: 'form-control' %>
      <br>

      <%= f.label :seo_description, "SEO 描述（空则使用默认）" %>
      <%= f.text_field :seo_description, class: 'form-control' %>
      <br>

      <%= f.label :snapshot, "列表图片上传" %> <small>尺寸W:600*H:600像素</small>
      <br>
      <% if f.object.snapshot_identifier.present? %>
        <%= image_tag(f.object.snapshot.url, class: 'admin-preview') %>
      <% end %>
      <br>
      <%= f.file_field :snapshot %>

      <%= f.label :snapshot_alt, "列表图片描述" %>
      <%= f.text_field :snapshot_alt, class: 'form-control' %>

      <br>
      <hr>

      <%= f.label :banner, "正文大图上传" %> <small>尺寸W:1000*H:500像素</small>
      <br>
      <% if f.object.banner_identifier.present? %>
        <%= image_tag(f.object.banner.url, class: 'admin-preview') %>
      <% end %>
      <br>
      <%= f.file_field :banner %>

      <%= f.label :banner_alt, "正文大图描述" %>
      <%= f.text_field :banner_alt, class: 'form-control' %>
      <br>

      <%= f.label :content, "内容" %>
      <%= f.text_area :content, class: 'form-control', rows: "40", id: "editor" %>
      <br>

      <%= f.label :created_at, "创建时间" %>
      <%= f.text_field :created_at, class: 'form-control' %>
      <br>

      <%= f.submit "修改新闻", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
