<div class="container-fluid core-main cases">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to '经典案例', '#', class: 'tianhua-font' %></li>
  </ul>

  <div class="row classify-line">
    <div class="col-md-12">
      <div class="btn-group classify">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          按专业分类 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">全部</a></li>
          <li><a href="#">建筑</a></li>
          <li><a href="#">规划</a></li>
          <li><a href="#">室内</a></li>
          <li><a href="#">景观</a></li>
        </ul>
      </div>
      <div class="btn-group classify">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          按市场分类 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">全部</a></li>
          <li><a href="#">居住建筑</a></li>
          <li><a href="#">商业建筑</a></li>
          <li><a href="#">办公建筑</a></li>
          <li><a href="#">文教体卫</a></li>
          <li><a href="#">城市更新</a></li>
          <li><a href="#">旅游度假</a></li>
        </ul>
      </div>
      <div class="btn-group classify-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="关键词搜索">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div><!-- /input-group -->
      </div>

    </div>
  </div>

  <div class="row cases-line">
    <div class="col-md-4">
      <div class="hoverCard">
        <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
        <p>重庆龙湖昱湖壹号城市展厅<br>WATERFRONT CITY</p>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
    <div class="col-md-4">
      <%= image_tag("banner-B.jpg", class: 'cases-photo') %>
    </div>
  </div>

</div>
