<div class="container-fluid core-main privacy">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to t("disclaimer.title"), '#', class: 'tianhua-font' %></li>
  </ul>
  <h4><%= t("disclaimer.h41") %></h4>
  <p class="lead">
    <%= raw(t("disclaimer.p1")) %>
  </p>
  <h4><%= t("disclaimer.h42") %></h4>
  <p class="lead lead-end">
    <%= raw(t("disclaimer.p2")) %>
  </p>
</div>
