<% provide(:title, @seo.home_title) %>
<% provide(:meta_title, @seo.home_title) %>

<div class="container-fluid">

</div>
<%= render "static_pages/home_main_slide.html.erb" %>
<div class="row">
  <div class="col-md-12 tianhua-new-project">
    <h2 class="text-center tianhua-new-project tianhua-fonts"><%= t("home.subtitle") %></h2>
  </div>
</div>

<div class="new-projects container-fluid">
  <div class="row projects">
    <div class="col-md-6">
      <div class="hoverCard">
        <%= image_tag("banner-B.jpg", class: 'home-img') %>
        <p>重庆龙湖昱湖壹号城市展厅<br>WATERFRONT CITY<br><br>
          <small>
            <br>客户名称：龙湖地产有限公司
            <br>设计：上海天华建筑设计有限公司
          </small>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="hoverCard">
        <%= image_tag("banner-B.jpg", class: 'home-img') %>
        <p>重庆龙湖昱湖壹号城市展厅<br>WATERFRONT CITY<br><br>
          <small>
            <br>客户名称：龙湖地产有限公司
            <br>设计：上海天华建筑设计有限公司
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="row projects">
    <div class="col-md-6">
      <div class="hoverCard">
        <%= image_tag("banner-B.jpg", class: 'home-img') %>
        <p>重庆龙湖昱湖壹号城市展厅<br>WATERFRONT CITY<br><br>
          <small>
            <br>客户名称：龙湖地产有限公司
            <br>设计：上海天华建筑设计有限公司
          </small>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="hoverCard">
        <%= image_tag("banner-B.jpg", class: 'home-img') %>
        <p>重庆龙湖昱湖壹号城市展厅<br>WATERFRONT CITY<br><br>
          <small>
            <br>客户名称：龙湖地产有限公司
            <br>设计：上海天华建筑设计有限公司
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
