<div class="container-fluid core-main management">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to '管理团队', management_path, class: "tianhua-font" %></li>
    <li><%= link_to '了解天华', about_us_path %></li>
    <li><a href="" class="tianhua-font">专业团队</a></li>
    <li><a href="" class="tianhua-font">联系我们</a></li>
  </ul>
  <div class="row">
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br><br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br><br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
    <div class="col-md-5ths col-xs-12 col-sm-6">
      <div class="hoverCard-d">
        <%= image_tag("man.jpg", class: 'personal-photo') %>
        <p>黄鼎业 <br> <small>荣誉董事长</small></p>
      </div>
    </div>
  </div>

</div>
