<div class="container-fluid core-main">
  <ul class="list-inline second-level-nav">
    <li class="activity"><a href="" class="tianhua-font">公司新闻</a></li>
    <li><a href="" class="tianhua-font">行业会议</a></li>
    <li><a href="" class="tianhua-font">专业奖项</a></li>
    <li><a href="" class="tianhua-font">联系我们</a></li>
  </ul>

  <div class="news-list">
    <div class="row news-header">
      <div class="col-md-12">
        <%= image_tag("about_01.jpg", class: 'news-banner') %>
      </div>
      <div class="row news-content">
        <div class="col-md-4 col-md-offset-8 col-xs-12 news-banner-text">
          <div class="news-banner-text-b col-xs-12">
            <h4>未来20年，我们将如何引领城市生活？</h4>
            <p>随着中国城市化进程快速推进的同时，不可避免地带来了一些新的城市问题：城市人口的增加、城市形象与功能的更新、拥堵割裂的交通、老龄化的到来、城市建设的可持续……对城市问题的有效解决，将是引领未来城市设计与生活方式的关键。天华，作为长期专注于城市建设领域的专业服务者，未来20年，该如何通过设计迎接挑战、抓住机遇？</p>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="hoverCard-b">
          <%= image_tag("banner-B.jpg", class: 'news-img') %>
          <p>秦皇岛滨海国际旅游度假中心——建筑师心中的海边阿狄丽娜</p>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag("banner-B.jpg", class: 'news-img') %>
      </div>
      <div class="col-md-4">
        <%= image_tag("banner-B.jpg", class: 'news-img') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("banner-B.jpg", class: 'news-img') %>
      </div>
      <div class="col-md-4">
        <%= image_tag("banner-B.jpg", class: 'news-img') %>
      </div>
      <div class="col-md-4">
        <%= image_tag("banner-B.jpg", class: 'news-img') %>
      </div>
    </div>
  </div>
</div>
