<div class="container-fluid core-main privacy">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to t("privacy.title"), '#', class: 'tianhua-font' %></li>
  </ul>
  <h4><%= t("privacy.h41") %></h4>
  <p class="lead">
    <%= t("privacy.p1") %>
  </p>
  <h4><%= t("privacy.h42") %></h4>
  <p class="lead">
    <%= raw(t("privacy.p2")) %>
  </p>
  <h4><%= t("privacy.h43") %></h4>
  <p class="lead lead-end">
     <%= t("privacy.p3") %>
  </p>
</div>
