<div class="container-fluid core-main privacy">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to t("statement.title"), '#', class: 'tianhua-font' %></li>
  </ul>
  <p class="lead">
     <%= raw(t("statement.p1")) %>
  </p>
  <h4><%= t("statement.h42") %></h4>
  <p class="lead">
    <%= raw(t("statement.p2")) %>
  </p>
  <h4><%= t("statement.h43") %></h4>
  <p class="lead lead-end">
    <%= t("statement.p3") %>
  </p>
</div>
