<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>新作品页 修改</h3>
<hr>

<%= form_for @work_type_page, url: admin_work_type_page_path, html: { multipart: true } do |f| %>
  <%= render 'admin/shared/error_messages', object: @work_type_page %>

  <%# 居住 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">居住</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.resdential_jpg.url, width: '500' if @work_type_page.resdential_jpg.present? %>
              <p>
                <%= f.label :resdential_jpg, "居住图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :resdential_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.resdential_webp.url, width: '500' if @work_type_page.resdential_webp.present? %>
              <p>
                <%= f.label :resdential_webp, "居住图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :resdential_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 示范区 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">示范区</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.demonstration_zone_jpg.url, width: '500' if @work_type_page.demonstration_zone_jpg.present? %>
              <p>
                <%= f.label :demonstration_zone_jpg, "示范区 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :demonstration_zone_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.demonstration_zone_webp.url, width: '500' if @work_type_page.demonstration_zone_webp.present? %>
              <p>
                <%= f.label :demonstration_zone_webp, "示范区 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :demonstration_zone_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 综合体/TOD %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">综合体/TOD</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.mixed_used_tod_jpg.url, width: '500' if @work_type_page.mixed_used_tod_jpg.present? %>
              <p>
                <%= f.label :mixed_used_tod_jpg, "综合体/TOD JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :mixed_used_tod_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.mixed_used_tod_webp.url, width: '500' if @work_type_page.mixed_used_tod_webp.present? %>
              <p>
                <%= f.label :mixed_used_tod_webp, "综合体/TOD WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :mixed_used_tod_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 商业空间 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">商业空间</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.commercial_jpg.url, width: '500' if @work_type_page.commercial_jpg.present? %>
              <p>
                <%= f.label :commercial_jpg, "商业空间图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :commercial_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.commercial_webp.url, width: '500' if @work_type_page.commercial_webp.present? %>
              <p>
                <%= f.label :commercial_webp, "商业空间图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :commercial_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 超高层 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">超高层</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.supertall_jpg.url, width: '500' if @work_type_page.supertall_jpg.present? %>
              <p>
                <%= f.label :supertall_jpg, "超高层图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :supertall_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.supertall_webp.url, width: '500' if @work_type_page.supertall_webp.present? %>
              <p>
                <%= f.label :supertall_webp, "超高层图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :supertall_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 文化 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">文化</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.cultural_wide_jpg.url, width: '500' if @work_type_page.cultural_wide_jpg.present? %>
              <p>
                <%= f.label :cultural_wide_jpg, "文化Wide图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :cultural_wide_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.cultural_wide_webp.url, width: '500' if @work_type_page.cultural_wide_webp.present? %>
              <p>
                <%= f.label :cultural_wide_webp, "文化Wide图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :cultural_wide_webp %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.cultural_jpg.url, width: '500' if @work_type_page.cultural_jpg.present? %>
              <p>
                <%= f.label :cultural_jpg, "文化图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :cultural_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.cultural_webp.url, width: '500' if @work_type_page.cultural_webp.present? %>
              <p>
                <%= f.label :cultural_webp, "文化图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :cultural_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 教育 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">教育</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.education_jpg.url, width: '500' if @work_type_page.education_jpg.present? %>
              <p>
                <%= f.label :education_jpg, "教育图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :education_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.education_webp.url, width: '500' if @work_type_page.education_webp.present? %>
              <p>
                <%= f.label :education_webp, "教育图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :education_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 商务办公 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">商务办公</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.office_jpg.url, width: '500' if @work_type_page.office_jpg.present? %>
              <p>
                <%= f.label :office_jpg, "商务办公图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :office_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.office_webp.url, width: '500' if @work_type_page.office_webp.present? %>
              <p>
                <%= f.label :office_webp, "商务办公图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :office_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 城市设计/更新 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">城市设计/更新</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.urban_design_jpg.url, width: '500' if @work_type_page.urban_design_jpg.present? %>
              <p>
                <%= f.label :urban_design_jpg, "城市设计/更新图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :urban_design_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.urban_design_webp.url, width: '500' if @work_type_page.urban_design_webp.present? %>
              <p>
                <%= f.label :urban_design_webp, "城市设计/更新图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :urban_design_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 医疗康养 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">医疗康养</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.medical_care_jpg.url, width: '500' if @work_type_page.medical_care_jpg.present? %>
              <p>
                <%= f.label :medical_care_jpg, "医疗康养图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :medical_care_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.medical_care_webp.url, width: '500' if @work_type_page.medical_care_webp.present? %>
              <p>
                <%= f.label :medical_care_webp, "医疗康养图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :medical_care_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 旅居/酒店 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">旅居/酒店</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.hospitality_jpg.url, width: '500' if @work_type_page.hospitality_jpg.present? %>
              <p>
                <%= f.label :hospitality_jpg, "旅居/酒店图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :hospitality_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.hospitality_webp.url, width: '500' if @work_type_page.hospitality_webp.present? %>
              <p>
                <%= f.label :hospitality_webp, "旅居/酒店图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :hospitality_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 规划 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">规划</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.urban_planning_jpg.url, width: '500' if @work_type_page.urban_planning_jpg.present? %>
              <p>
                <%= f.label :urban_planning_jpg, "规划图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :urban_planning_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.urban_planning_webp.url, width: '500' if @work_type_page.urban_planning_webp.present? %>
              <p>
                <%= f.label :urban_planning_webp, "规划图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :urban_planning_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 景观 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">景观</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.landscape_jpg.url, width: '500' if @work_type_page.landscape_jpg.present? %>
              <p>
                <%= f.label :landscape_jpg, "景观图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :landscape_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.landscape_webp.url, width: '500' if @work_type_page.landscape_webp.present? %>
              <p>
                <%= f.label :landscape_webp, "景观图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :landscape_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 室内 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">室内</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag @work_type_page.interior_jpg.url, width: '500' if @work_type_page.interior_jpg.present? %>
              <p>
                <%= f.label :interior_jpg, "室内图片 JPG 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :interior_jpg %>
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag @work_type_page.interior_webp.url, width: '500' if @work_type_page.interior_webp.present? %>
              <p>
                <%= f.label :interior_webp, "室内图片 WebP 格式" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :interior_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "修改内容", class: "btn btn-primary" %>
<% end %>
