<h3>专业服务修改</h3>
<hr>

<%= form_for @service_file, url: admin_service_file_path(@service_file), html: { multipart: true } do |f| %>
  <%= render 'admin/shared/error_messages', object: @service_file %>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">建筑设计</div>
        <div class="panel-body">
          <p>
            <%= f.label :building_intro, "介绍" %>
            <%= f.text_area :building_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">室内设计</div>
        <div class="panel-body">
          <p>
            <%= f.label :interior_intro_file, "室内设计专业服务介绍文件" %>
            <%= f.file_field :interior_intro_file %>
          </p>
          <p>
            <%= f.label :interior_intro, "介绍" %>
            <%= f.text_area :interior_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">规划</div>
        <div class="panel-body">
          <p>
            <%= f.label :planning_intro, "介绍" %>
            <%= f.text_area :planning_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">景观</div>
        <div class="panel-body">
          <p>
            <%= f.label :landscape_intro, "介绍" %>
            <%= f.text_area :landscape_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">审图</div>
        <div class="panel-body">
          <p>
            <%= f.label :vetting_intro, "介绍" %>
            <%= f.text_area :vetting_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">技术咨询</div>
        <div class="panel-body">
          <p>
            <%= f.label :consluting_intro, "介绍" %>
            <%= f.text_area :consluting_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">可视化</div>
        <div class="panel-body">
          <p>
            <%= f.label :vrtech_intro, "介绍" %>
            <%= f.text_area :vrtech_intro, rows: 7, class: 'form-control' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">年度账单</div>
        <div class="panel-body">
          <p>
            <%= f.label :tianhua_2020_bill_music, "天华2020年度账单音乐" %>
            <%= f.file_field :tianhua_2020_bill_music %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "修改", class: "btn btn-primary" %>
<% end %>
