<h3>天华专业服务介绍 <small><%= link_to "修改", edit_admin_service_file_path(@service_file) %></small></h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">建筑设计 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.building_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">室内设计 介绍 与 介绍PPT</div>
      <div class="panel-body">
        <p><%= @service_file.interior_intro_file.url if @service_file.interior_intro_file_identifier.present? %></p>
        <p><%= @service_file.interior_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">规划 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.planning_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">景观 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.landscape_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">审图 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.vetting_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">技术咨询 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.consluting_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">可视化 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.vrtech_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">可持续发展 介绍</div>
      <div class="panel-body">
        <p><%= @service_file.sustainable_intro %></p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">年度账单</div>
      <div class="panel-body">
        <p><%= @service_file.tianhua_2020_bill_music.url if @service_file.tianhua_2020_bill_music_identifier.present? %></p>
      </div>
    </div>
  </div>
</div>
