<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>天华管理团队列表</h3>

<br>

<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No. & URL & 预览</th>
          <th>动作</th>
        </tr>
      </thead>
      <tbody>
        <% @pictures.each do |picture| %>
          <tr>
            <td><%= picture.id %>: <%= picture.image.url %>
              <br />
              <img src="<%= picture.image.url -%>?x-oss-process=image/resize,w_200" />
              <br />
              <%= picture.updated_at %>
            </td>
            <td>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @pictures %>
