<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>天华管理团队列表</h3>

<br>

<%= link_to '创建新图', new_admin_picture_path, class: "btn btn-primary" %>

<div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No. & URL & 预览</th>
          <th>动作</th>
        </tr>
      </thead>
      <tbody>
        <% @pictures.each do |picture| %>
          <tr>
            <td><%= picture.id %>: <%= picture.image.url %>
              <br />
              <img src="<%= picture.image.url -%>?x-oss-process=image/resize,w_200" />
              <br />
              <%= picture.updated_at %>
            </td>
            <td>
              <%= link_to fa_icon("pencil-square-o"), edit_admin_picture_path(picture, page: params[:page]) %>
              <%= link_to fa_icon("trash"), admin_picture_path(picture), method: :delete, data: { confirm: '确认删除?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @pictures, hide_goto_page: false %>
