<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>新首页信息修改</h3>
<hr>

<%= form_for @home, url: admin_tail_home_path, html: { multipart: true } do |f| %>
  <%= render 'admin/shared/error_messages', object: @home %>

  <%# 最新项目 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">首页最新项目</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_1.url, width: '300' if @home.new_project_photo_1.present? %>
              <p>
                <%= f.label :new_project_photo_1, "最新项目 1" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :new_project_photo_1 %>
              </p>
              <p>
                <%= f.label :new_project_1_id, "最新项目 1 的作品 ID" %>
                <%= f.text_field :new_project_1_id %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_2l.url, width: '300' if @home.new_project_photo_2l.present? %>
              <p>
                <%= f.label :new_project_photo_2l, "最新项目 2l" %> <small>尺寸W:880*H:1794像素</small>
                <%= f.file_field :new_project_photo_2l %>
              </p>
              <p>
                <%= f.label :new_project_2_id, "最新项目 2 的作品 ID" %>
                <%= f.text_field :new_project_2_id %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_3w.url, width: '300' if @home.new_project_photo_3w.present? %>
              <p>
                <%= f.label :new_project_photo_3w, "最新项目 3w" %> <small>尺寸W:1794*H:880像素</small>
                <%= f.file_field :new_project_photo_3w %>
              </p>
              <p>
                <%= f.label :new_project_3_id, "最新项目 3 的作品 ID" %>
                <%= f.text_field :new_project_3_id %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_4.url, width: '300' if @home.new_project_photo_4.present? %>
              <p>
                <%= f.label :new_project_photo_4, "最新项目 4" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :new_project_photo_4 %>
              </p>
              <p>
                <%= f.label :new_project_4_id, "最新项目 4 的作品 ID" %>
                <%= f.text_field :new_project_4_id %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_5.url, width: '300' if @home.new_project_photo_5.present? %>
              <p>
                <%= f.label :new_project_photo_5, "最新项目 5" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :new_project_photo_5 %>
              </p>
              <p>
                <%= f.label :new_project_5_id, "最新项目 5 的作品 ID" %>
                <%= f.text_field :new_project_5_id %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.new_project_photo_6.url, width: '300' if @home.new_project_photo_6.present? %>
              <p>
                <%= f.label :new_project_photo_6, "最新项目 6" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :new_project_photo_6 %>
              </p>
              <p>
                <%= f.label :new_project_6_id, "最新项目 6 的作品 ID" %>
                <%= f.text_field :new_project_6_id %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 首页新闻 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">首页新闻</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag @home.info_1_photo.url, width: '400' if @home.info_1_photo.present? %>
              <p>
                <%= f.label :info_1_photo, "最新新闻 1 图片" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :info_1_photo %>
              </p>
              <p>
                <%= f.label :info_1_id, "最新新闻 1 ID" %>
                <%= f.text_field :info_1_id %>
              </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag @home.info_2_photo.url, width: '400' if @home.info_2_photo.present? %>
              <p>
                <%= f.label :info_2_photo, "最新新闻 2 图片" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :info_2_photo %>
              </p>
              <p>
                <%= f.label :info_2_id, "最新新闻 2 ID" %>
                <%= f.text_field :info_2_id %>
              </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag @home.info_3_photo.url, width: '400' if @home.info_3_photo.present? %>
              <p>
                <%= f.label :info_3_photo, "最新新闻 3 图片" %> <small>尺寸W:880*H:880像素</small>
                <%= f.file_field :info_3_photo %>
              </p>
              <p>
                <%= f.label :info_3_id, "最新新闻 3 ID" %>
                <%= f.text_field :info_3_id %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 新闻页首推 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">新闻页首推</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <%= image_tag @home.hero_news_photo.url, width: '500' if @home.hero_news_photo.present? %>
              <p>
                <%= f.label :hero_news_photo, "头条新闻图片" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :hero_news_photo %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.hero_news_photo_mobile.url, width: '500' if @home.hero_news_photo_mobile.present? %>
              <p>
                <%= f.label :hero_news_photo_mobile, "头条新闻图片 手机端" %> <small>尺寸W:1920*H:700像素</small>
                <%= f.file_field :hero_news_photo_mobile %>
              </p>
            </div>
          </div>
          <div class="row">
            <p>
              <%= f.label :hero_news_id, "新闻ID" %>
              <%= f.text_field :hero_news_id, class: 'form-control' %>
            </p>
            <p>
              <%= f.label :hero_news_title_cap, "新闻标题的下划线字数" %>
              <%= f.text_field :hero_news_title_cap, class: 'form-control' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 首页轮播图 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">首页轮播图</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-4">
              <%= f.label :background_1_title, "背景 1 标题" %>
              <%= f.text_field :background_1_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_1_subtitle, "背景 1 子标题" %>
              <%= f.text_field :background_1_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_1_link, "背景 1 链接" %>
              <%= f.text_field :background_1_link, class: 'form-control' %>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_1.url, width: '300' if @home.background_1.present? %>
              <p>
                <%= f.label :background_1, "背景 1" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_1 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_1_webp.url, width: '300' if @home.background_1_webp.present? %>
              <p>
                <%= f.label :background_1_webp, "背景 1 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_1_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_1_mobile.url, width: '300' if @home.background_1_mobile.present? %>
              <p>
                <%= f.label :background_1_mobile, "背景 1 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_1_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_1_mobile_webp.url, width: '300' if @home.background_1_mobile_webp.present? %>
              <p>
                <%= f.label :background_1_mobile_webp, "背景 1 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_1_mobile_webp %>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <%= f.label :background_2_title, "背景 2 标题" %>
              <%= f.text_field :background_2_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_2_subtitle, "背景 2 子标题" %>
              <%= f.text_field :background_2_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_2_link, "背景 2 链接" %>
              <%= f.text_field :background_2_link, class: 'form-control' %>
            </div>

            <div class="col-sm-6">
              <%= image_tag @home.background_2.url, width: '300' if @home.background_2.present? %>
              <p>
                <%= f.label :background_2, "背景 2" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_2 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_2_webp.url, width: '300' if @home.background_2_webp.present? %>
              <p>
                <%= f.label :background_2_webp, "背景 2 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_2_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_2_mobile.url, width: '300' if @home.background_2_mobile.present? %>
              <p>
                <%= f.label :background_2_mobile, "背景 2 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_2_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_2_mobile_webp.url, width: '300' if @home.background_2_mobile_webp.present? %>
              <p>
                <%= f.label :background_2_mobile_webp, "背景 2 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_2_mobile_webp %>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <%= f.label :background_3_title, "背景 3 标题" %>
              <%= f.text_field :background_3_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_3_subtitle, "背景 3 子标题" %>
              <%= f.text_field :background_3_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_3_link, "背景 3 链接" %>
              <%= f.text_field :background_3_link, class: 'form-control' %>
            </div>


            <div class="col-sm-6">
              <%= image_tag @home.background_3.url, width: '300' if @home.background_3.present? %>
              <p>
                <%= f.label :background_3, "背景 3" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_3 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_3_webp.url, width: '300' if @home.background_3_webp.present? %>
              <p>
                <%= f.label :background_3_webp, "背景 3 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_3_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_3_mobile.url, width: '300' if @home.background_3_mobile.present? %>
              <p>
                <%= f.label :background_3_mobile, "背景 3 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_3_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_3_mobile_webp.url, width: '300' if @home.background_3_mobile_webp.present? %>
              <p>
                <%= f.label :background_3_mobile_webp, "背景 3 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_3_mobile_webp %>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <%= f.label :background_4_title, "背景 4 标题" %>
              <%= f.text_field :background_4_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_4_subtitle, "背景 4 子标题" %>
              <%= f.text_field :background_4_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_4_link, "背景 4 链接" %>
              <%= f.text_field :background_4_link, class: 'form-control' %>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_4.url, width: '300' if @home.background_4.present? %>
              <p>
                <%= f.label :background_4, "背景 4" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_4 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_4_webp.url, width: '300' if @home.background_4_webp.present? %>
              <p>
                <%= f.label :background_4_webp, "背景 4 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_4_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_4_mobile.url, width: '300' if @home.background_4_mobile.present? %>
              <p>
                <%= f.label :background_4_mobile, "背景 4 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_4_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_4_mobile_webp.url, width: '300' if @home.background_4_mobile_webp.present? %>
              <p>
                <%= f.label :background_4_mobile_webp, "背景 4 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_4_mobile_webp %>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <%= f.label :background_5_title, "背景 5 标题" %>
              <%= f.text_field :background_5_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_5_subtitle, "背景 5 子标题" %>
              <%= f.text_field :background_5_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_5_link, "背景 5 链接" %>
              <%= f.text_field :background_5_link, class: 'form-control' %>
            </div>

            <div class="col-sm-6">
              <%= image_tag @home.background_5.url, width: '300' if @home.background_5.present? %>
              <p>
                <%= f.label :background_5, "背景 5" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_5 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_5_webp.url, width: '300' if @home.background_5_webp.present? %>
              <p>
                <%= f.label :background_5_webp, "背景 5 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_5_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_5_mobile.url, width: '300' if @home.background_5_mobile.present? %>
              <p>
                <%= f.label :background_5_mobile, "背景 5 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_5_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_5_mobile_webp.url, width: '300' if @home.background_5_mobile_webp.present? %>
              <p>
                <%= f.label :background_5_mobile_webp, "背景 5 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_5_mobile_webp %>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <%= f.label :background_6_title, "背景 6 标题" %>
              <%= f.text_field :background_6_title, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_6_subtitle, "背景 6 子标题" %>
              <%= f.text_field :background_6_subtitle, class: 'form-control'%>
            </div>
            <div class="col-4">
              <%= f.label :background_6_link, "背景 6 链接" %>
              <%= f.text_field :background_6_link, class: 'form-control' %>
            </div>

            <div class="col-sm-6">
              <%= image_tag @home.background_6.url, width: '300' if @home.background_6.present? %>
              <p>
                <%= f.label :background_6, "背景 6" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_6 %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_6_webp.url, width: '300' if @home.background_6_webp.present? %>
              <p>
                <%= f.label :background_6_webp, "背景 6 WEBP" %> <small>尺寸W:1920*H:968像素</small>
                <%= f.file_field :background_6_webp %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_6_mobile.url, width: '300' if @home.background_6_mobile.present? %>
              <p>
                <%= f.label :background_6_mobile, "背景 6 手机端" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_6_mobile %>
              </p>
            </div>
            <div class="col-sm-6">
              <%= image_tag @home.background_6_mobile_webp.url, width: '300' if @home.background_6_mobile_webp.present? %>
              <p>
                <%= f.label :background_6_mobile_webp, "背景 6 手机端 WEBP" %> <small>尺寸W:622*H:1104像素</small>
                <%= f.file_field :background_6_mobile_webp %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "修改内容", class: "btn btn-primary" %>
<% end %>
