<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>作品集</h3>
<br>

<%= link_to '创建新作品集', new_admin_portfolio_path, class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>排序</th>
      <th>
        <h4>标题/子标题</h4>
      </th>
      <th><h4>PDF 文件</h4></th>
      <th><h4>PC封面</h4></th>
      <th><h4>Mobile封面</h4></th>
      <th><h4>动作</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.position -%></td>
        <td>
          <%= link_to portfolio.title, edit_admin_portfolio_path(id: portfolio.id) %>
          <br />
          <%= portfolio.sub_title %>
          <br />
          height: <%= portfolio.pixel_height -%> X width: <%= portfolio.pixel_width -%>
          <br />
          创建时间：<%= portfolio.created_at %>
          <br />
          修改时间：<%= portfolio.updated_at %>
        </td>
        <td><%= link_to_if portfolio.pdf_file.present?, '下载', portfolio.pdf_file.url, download: portfolio.pdf_file.identifier %></td>
        <td>
          <%= image_tag portfolio.cover_jpg.url, width: portfolio.pixel_width / 10, height: portfolio.pixel_height / 10 if portfolio.cover_jpg.present? %>
          <br />
          <%= image_tag portfolio.cover_webp.url, width: portfolio.pixel_width / 10, height: portfolio.pixel_height / 10 if portfolio.cover_webp.present? %>
        </td>
        <td>
          <%= image_tag portfolio.mobile_cover_jpg.url, width: portfolio.pixel_width / 10, height: portfolio.pixel_height / 10 if portfolio.mobile_cover_jpg.present? %>
          <br />
          <%= image_tag portfolio.mobile_cover_webp.url, width: portfolio.pixel_width / 10, height: portfolio.pixel_height / 10 if portfolio.mobile_cover_webp.present? %>
        </td>
        <td>
          <%= link_to fa_icon("pencil-square-o"), edit_admin_portfolio_path(portfolio, page: params[:page]) %>
          <%= link_to fa_icon("trash"), admin_portfolio_path(portfolio), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @portfolios, hide_goto_page: false %>
