<div class="row">
  <div class="col-md-5">
    <p>项目名称</p>
  </div>
  <div class="col-md-7">
    <h3><%= @work.project_name %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <p>客户名称</p>
  </div>
  <div class="col-md-7">
    <h4><%= @work.client %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <p>服务范围</p>
  </div>
  <div class="col-md-7">
    <h5><%= @work.services %></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <p>设计团队</p>
  </div>
  <div class="col-md-7">
    <h6><%= @work.team %></h6>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <p>合作单位</p>
  </div>
  <div class="col-md-7">
    <h6><%= @work.cooperation %></h6>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <p>获奖</p>
  </div>
  <div class="col-md-7">
    <h6><%= @work.awards %></h6>
  </div>
</div>
