<%= link_to '返回', admin_works_path %>

<h3>天华作品-修改</h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <%= form_for @work, url: admin_work_path(@work), html: { multipart: true } do |f| %>

      <div class="row">
        <div class="col-md-8">
          <%= f.label :project_name, "项目名称" %>
          <%= f.text_field :project_name, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :design_completion, "设计完成时间" %>
          <%= f.text_field :design_completion, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :project_types_ids, "大类别" %>
          <%= f.select :project_types_ids, options_from_collection_for_select(ProjectType.all, :id, :cn_name, { selected: @work.project_types_ids }),
            { name: 'work[project_types_ids][]' }, multiple: true, size: 7, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.label :residential_types_ids, "住宅类别" %>
          <%= f.select :residential_types_ids, options_from_collection_for_select(ResidentialType.all, :id, :cn_name, { selected: @work.residential_types_ids }),
            { name: 'work[residential_types_ids][]' }, multiple: true, size: 7, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.label :snapshot_jpg, "作品照片上传（JPG）" %>
          <br />
          <%= image_tag(@work.snapshot_jpg.url, class: 'admin-preview') if @work.snapshot_jpg_identifier.present? %>
          <%= f.file_field :snapshot_jpg %>
        </div>
        <div class="col-md-6">
          <%= f.label :snapshot_webp, "作品照片上传（WEBP）" %>
          <br />
          <%= image_tag(@work.snapshot_webp.url, class: 'admin-preview') if @work.snapshot_webp_identifier.present? %>
          <%= f.file_field :snapshot_webp %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= f.label :client, "客户名称" %>
          <%= f.text_field :client, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :construction_completion, "竣工时间" %>
          <%= f.text_field :construction_completion, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= f.label :services, "服务范围" %>
          <%= f.text_field :services, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :city_id, "所在城市" %>
          <%= f.select :city_id, City.all.collect { |p| [ p.name, p.id ] }, { include_blank: true }, { class: "form-control" } %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= f.label :team, "设计团队" %>
          <%= f.text_field :team, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :site_area, "用地面积" %>
          <%= f.text_field :site_area, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= f.label :cooperation, "合作单位" %>
          <%= f.text_field :cooperation, class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :planning_area, "规划面积" %>
          <%= f.text_field :planning_area, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8">
          <%= f.label :awards, "获奖" %>
          <%= f.text_area :awards, class: 'form-control', rows: "9" %>
        </div>
        <div class="row col-md-4">
          <div class="col-md-12">
            <%= f.label :architecture_area, "建筑面积" %>
            <%= f.text_field :architecture_area, class: 'form-control' %>
          </div>
          <br />
          <br />
          <div class="col-md-12">
            <%= f.check_box :published, class: 'form-control' %>
            <%= f.label :published, "是否发布到官网显示" %>
          </div>
        </div>
      </div>
      <%= f.fields_for :work_pictures do |p| %>
        <div class="row" id="<%= "admin-work-pictures-preview-#{f.object.id}-#{p.object.id}" -%>">
          <div class="col-md-6">
            <div class="field">
              <% if p.object.album_jpg_identifier.present? %>
                <%= image_tag(p.object.album_jpg.url, class: 'admin-preview') %>
                <%= link_to destory_picture_admin_work_path(f.object, work_picture_id: p.object.id), remote: true, method: :delete do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= p.label :album_jpg, "案例照片上传 - 多选" %>
                <%= p.file_field :album_jpg, :multiple => true, name: "work_pictures[album_jpg][]" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field" id="<%= "admin-image-preview-webp-#{f.object.id}-#{p.object.id}" -%>">
              <% if p.object.album_webp_identifier.present? %>
                <%= image_tag(p.object.album_webp.url, class: 'admin-preview') %>
              <% else %>
                <%= p.label :album_webp, "案例照片上传 - 多选" %>
                <%= p.file_field :album_webp, :multiple => true, name: "work_pictures[album_webp][]" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <%= f.submit "修改作品", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

