<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>天华作品列表</h3>

<br>

<div class="row">
  <div class="col-md-6">
    <%= form_tag admin_works_path, method: :get, class: 'form-inline' do -%>
      <%= link_to '创建作品', new_admin_work_path, class: "btn btn-primary" %>
      &nbsp;&nbsp;&nbsp;
      <div class="form-group">
        <label class="mr-1" for="text-name">项目名称：</label>
        <%= text_field_tag 'project_name', params[:project_name], class: 'form-control', id: 'text-name' %>
      </div>
      <%= submit_tag '搜索', class: 'btn btn-secondary' %>
    <% end -%>
  </div>
<%= form_with url: update_positions_admin_works_path, class: 'form-inline', local: true do |f| %>
  <div class="col-md-6">
    <label>移动选择的项目到位置：</label>
    <%= text_field_tag 'to_position', nil, class: 'form-control' %>
    <%= submit_tag '移动', class: 'btn btn-secondary' %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><h4>位置</h4></th>
        <th><h4>作品名称</h4></th>
        <th><h4>大类别</h4></th>
        <th><h4>住宅类别</h4></th>
        <th><h4>编辑</h4></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td><%= check_box_tag 'check_ids[]', work.id %> <%= work.position %></td>
          <td><%= link_to work.project_name, admin_work_path(work) %></td>
          <td>
            <% work.project_types.collect(&:cn_name).each do |project_type_name| %>
              <span class="label label-info"><%= project_type_name %></span>
            <% end %>
          </td>
          <td>
            <% work.residential_types.collect(&:cn_name).each do |residential_type_name| %>
              <span class="label label-info"><%= residential_type_name %></span>
            <% end %>
          </td>
          <td>
            <%= link_to fa_icon("long-arrow-up"), top_admin_work_path(work), method: :patch %>
            <%= link_to fa_icon("arrow-up"), up_admin_work_path(work), method: :patch %>
            <%= link_to fa_icon("arrow-down"), down_admin_work_path(work), method: :patch %>
            <%= link_to fa_icon("long-arrow-down"), bottom_admin_work_path(work), method: :patch %>
            <%= link_to fa_icon("pencil-square-o"), edit_admin_work_path(work) %>
            <%= link_to fa_icon("trash"), admin_work_path(work), method: :delete, data: { confirm: '确认删除?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
