<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>城市列表</h3>

<%= link_to '新城市', new_admin_city_path, class: "btn btn-primary" %>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>城市</h4></th>
      <th><h4>区域</h4></th>
      <th><h4>url_name</h4></th>
      <th><h4>公司名字</h4></th>
      <th><h4>编辑</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.china_area_name %></td>
        <td><%= city.url_name %></td>
        <td>
          <%= city.company_name %>
          <br />
          <%= city.company_name_english %>

        </td>
        <td>
          <%= link_to fa_icon("pencil-square-o"), edit_admin_city_path(city) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
