<%= paginator.render do -%>
  <% if @options[:hide_goto_page] %>
  <% @window_options[:window] = 1 %>
  <% else %>
  <% @window_options[:window] = 4 %>
  <% end %>
  <ul class="pagination">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <%= next_page_tag unless current_page.last? %>
    <%= last_page_tag unless current_page.last? %>
    <% unless @options[:hide_goto_page] %>
      &nbsp;
      <%= t('.display_total', total: @options[:total_pages]) -%>
      <form class="form-inline" method="get" action="<%= request.fullpath -%>">
        <%= t('.goto_page_before') -%>
        <input class="pagination-control mr-sm-0" aria-label="Go page number" autocomplete="off" name="page">
        <%= t('.goto_page_after') -%>
        <button class="btn my-2 my-sm-0" type="submit"><%= t('.go') %></button>
      </form>
    <% end %>
  </ul>
<% end -%>
