<h3>SEO关键词    <small><%= link_to "修改", edit_admin_seo_path(@seo) %></small></h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">全局关键词</div>
      <div class="panel-body">
        <p><strong>title:</strong><%= @seo.home_title %></p>
        <p><strong>description:</strong><%= @seo.description %></p>
        <p><strong>abstract:</strong><%= @seo.abstract %></p>
        <p><strong>keywords:</strong><%= @seo.keywords %></p>
      </div>
    </div>
  </div>

<!--   <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">了解天华</div>
      <div class="panel-body">
        <p><strong>了解天华:</strong><%#= @seo.about_title %></p>
        <p><strong>管理团队:</strong><%#= @seo.management_title %></p>
        <p><strong>专业团队:</strong><%#= @seo.designing_title %></p>
        <p><strong>联系我们:</strong><%#= @seo.contact_title %></p>
      </div>
    </div>
  </div> -->
</div>
