<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>出版物</h3>
<br>
<div class="row">
  <div class="col-md-6">
    <%= form_tag admin_publications_path, method: :get, class: 'form-inline' do -%>
      <%= link_to '创建新出版物', new_admin_publication_path, class: "btn btn-primary" %>
      <div class="form-group mx-3">
        <label for="select-category-status">分类：</label>
        <%= select_tag :category_status, options_for_select(Publication.category_status_options, params[:category_status]), include_blank: '全部', class: 'form-control', id: 'select-category-status' %>
      </div>
      <%= submit_tag '搜索', class: 'btn btn-secondary' %>
    <% end -%>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>排序</th>
      <th>
        <h4>标题/子标题/分类</h4>
      </th>
      <th><h4>PDF 文件</h4></th>
      <th><h4>PC封面</h4></th>
      <th><h4>Mobile封面</h4></th>
      <th><h4>内页封面</h4></th>
      <th><h4>动作</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.position -%></td>
        <td>
          <%= link_to publication.title, edit_admin_publication_path(id: publication.id) %>
          <br />
          <%= publication.sub_title %>
          <br />
          <%= publication.category_status_name %>
          <br />
          height: <%= publication.pixel_height -%> X width: <%= publication.pixel_width -%>
          <br />
          创建时间：<%= publication.created_at %>
          <br />
          修改时间：<%= publication.updated_at %>
        </td>
        <td><%= link_to_if publication.pdf_file.present?, '下载', publication.pdf_file.url, download: publication.pdf_file.identifier %></td>
        <td>
          <%= image_tag publication.cover_jpg.url, width: publication.pixel_width / 10, height: publication.pixel_height / 10 if publication.cover_jpg.present? %>
          <br />
          <%= image_tag publication.cover_webp.url, width: publication.pixel_width / 10, height: publication.pixel_height / 10 if publication.cover_webp.present? %>
        </td>
        <td>
          <%= image_tag publication.mobile_cover_jpg.url, width: publication.pixel_width / 10, height: publication.pixel_height / 10 if publication.mobile_cover_jpg.present? %>
          <br />
          <%= image_tag publication.mobile_cover_webp.url, width: publication.pixel_width / 10, height: publication.pixel_height / 10 if publication.mobile_cover_webp.present? %>
        </td>
        <td>
          <%= image_tag publication.page_cover.url, width: publication.pixel_width / 10, height: publication.pixel_height / 10 if publication.page_cover.present? %>
        </td>
        <td>
          <%= link_to fa_icon("pencil-square-o"), edit_admin_publication_path(publication, page: params[:page]) %>
          <%= link_to fa_icon("trash"), admin_publication_path(publication), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @publications, hide_goto_page: false %>
