<%= link_to '返回', admin_publications_path %>

<h3>出版物-新建</h3>

<hr>

<div class="row">
  <div class="col-md-8">
    <%= form_for @publication, url: admin_publications_path, local: true do |f| %>
      <%= render 'admin/shared/error_messages', object: @publication %>
      <%= hidden_field_tag 'page', @page %>

      <div class="col-12">
        <%= f.label :title, "标题" %>
        <br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="col-12">
        <%= f.label :category_status, "分类" %>
        <br />
        <%= f.select :category_status, Publication.category_status_options, {}, class: 'form-control' %>
      </div>

      <br />
      <div class="col-4">
        <%= f.label :pdf_file, "PDF文件" %>
        <br />
        <%= f.file_field :pdf_file, class: 'form-control' %>
      </div>
      <div class="col-4">
        <%= f.label :cover_jpg, "JPG 封面文件" %>
        <br />
        <%= f.file_field :cover_jpg, class: 'form-control' %>
      </div>
      <div class="col-4">
        <%= f.label :cover_webp, "WEBP 封面文件" %>
        <br />
        <%= f.file_field :cover_webp, class: 'form-control' %>
      </div>

      <br />
      <%= f.submit '创建出版物', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

