<thead>
  <tr class="table-header" id="contact-5" role="button"  data-toggle="collapse" href="#collapseMap5" aria-expanded="false" aria-controls="collapseMap5">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-5") %></strong></th>
  </tr>
</thead>
<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap5">
  <tr>
    <th><strong><%= t("map.contact-5") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= t("map.contact-5-name") %></strong></td>
    <td><%= t("map.contact-5-address") %></td>
    <td>028-65970877</td>
    <td>028-65970866</td>
  </tr>
</tbody>
