<thead>
  <tr class="table-header" id="contact-1" role="button"  data-toggle="collapse" href="#collapseMap1" aria-expanded="false" aria-controls="collapseMap1">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-1") %></strong></th>
  </tr>
</thead>

<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap1">
  <tr>
    <th><strong><%= t("map.contact-1") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>

  <tr>
    <td rowspan="3" style="vertical-align : middle;"><strong><%= t("map.contact-1-name") %></strong></td>
    <td style="vertical-align : middle;"><%= t("map.contact-1-address") %></td>
    <td rowspan="3" style="vertical-align : middle;">021-64281588</td>
    <td rowspan="3" style="vertical-align : middle;">021-64281587</td>
  </tr>

  <tr>
    <td><%= t("map.contact-1-2-address") %></td>
  </tr>

  <tr>
    <td><%= t("map.contact-1-3-address") %></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-7-name") %></strong></td>
    <td rowspan="1" style="vertical-align : middle;"><%= t("map.contact-1-7-address") %></td>
    <td rowspan="1" style="vertical-align : middle;">021-34768388</td>
    <td rowspan="1" style="vertical-align : middle;"></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-8-1-name") %></strong></td>
    <td rowspan="2" style="vertical-align : middle;"><%= t("map.contact-1-8-address") %></td>
    <td rowspan="1" style="vertical-align : middle;"><%= t("map.contact-1-8-1-tel") %></td>
    <td rowspan="2" style="vertical-align : middle;"></td>
  </tr>


  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-8-2-name") %></strong></td>
    <td rowspan="1" style="vertical-align : middle;"><%= t("map.contact-1-8-2-tel") %></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-2-name") %></strong></td>
    <td rowspan="2" style="vertical-align : middle;"><%= t("map.contact-1-4-address") %></td>
    <td rowspan="2" style="vertical-align : middle;">021-64281588</td>
    <td rowspan="2" style="vertical-align : middle;">021-64281587</td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-3-name") %></strong></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-4-name") %></strong></td>
    <td rowspan="2" style="vertical-align : middle;"><%= t("map.contact-1-5-address") %></td>
    <td rowspan="2" style="vertical-align : middle;">021-64281588</td>
    <td rowspan="2" style="vertical-align : middle;"></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-5-name") %></strong></td>
  </tr>

  <tr>
    <td rowspan="1" style="vertical-align : middle;"><strong><%= t("map.contact-1-6-name") %></strong></td>
    <td rowspan="1" style="vertical-align : middle;"><%= t("map.contact-1-6-address") %></td>
    <td rowspan="1" style="vertical-align : middle;"></td>
    <td rowspan="1" style="vertical-align : middle;"></td>
  </tr>

</tbody>
