<thead>
  <tr class="table-header" id="contact-11" role="button"  data-toggle="collapse" href="#collapseMap11" aria-expanded="false" aria-controls="collapseMap11">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-11") %></strong></th>
  </tr>
</thead>

<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap11">
  <tr>
    <th><strong><%= t("map.contact-11") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= t("map.contact-11-name") %></strong></td>
    <td><%= t("map.contact-11-address") %></td>
    <td>022-58956066</td>
    <td>022-58956068</td>
  </tr>
</tbody>
