<thead>
  <tr class="table-header" id="contact-7" role="button"  data-toggle="collapse" href="#collapseMap7" aria-expanded="false" aria-controls="collapseMap7">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-7") %></strong></th>
  </tr>
</thead>
<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap7">
  <tr>
    <th><strong><%= t("map.contact-7") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= raw t("map.contact-7-1-name") %></strong></td>
    <td rowspan="2" style="vertical-align : middle;"><%= t("map.contact-7-address") %></td>
    <td rowspan="2" style="vertical-align : middle;">027-85735158</td>
    <td rowspan="2" style="vertical-align : middle;"></td>
  </tr>
</tbody>
