<thead>
  <tr class="table-header" id="contact-15" role="button"  data-toggle="collapse" href="#collapseMap15" aria-expanded="false" aria-controls="collapseMap15">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-15") %></strong></th>
  </tr>
</thead>
<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap15">
  <tr>
    <th><strong><%= t("map.contact-15") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= t("map.contact-15-name") %></strong></td>
    <td><%= t("map.contact-15-address") %></td>
    <td>0371-55592880</td>
    <td></td>
  </tr>
</tbody>
