<thead>
  <tr class="table-header" id="contact-2" role="button"  data-toggle="collapse" href="#collapseMap2" aria-expanded="false" aria-controls="collapseMap2">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-2") %></strong></th>
  </tr>
</thead>
<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap2">
  <tr>
    <th><strong><%= t("map.contact-2") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= t("map.contact-2-name") %></strong></td>
    <td><%= t("map.contact-2-address") %></td>
    <td>024-31266856</td>
    <td></td>
  </tr>
</tbody>
