<thead>
  <tr class="table-header" id="contact-3" role="button"  data-toggle="collapse" href="#collapseMap3" aria-expanded="false" aria-controls="collapseMap3">
    <th colspan="4"><strong><%= fa_icon "chevron-down" %><%= t("map.contact-3") %></strong></th>
  </tr>
</thead>

<tbody class="collapse <%= need_collapse_in ? 'in' : '' -%>" id="collapseMap3">
  <tr>
    <th><strong><%= t("map.contact-3") %></strong></th>
    <th><strong><%= t("map.address") %></strong></th>
    <th><strong><%= t("map.tel") %></strong></th>
    <th><strong><%= t("map.fax") %></strong></th>
  </tr>
  <tr>
    <td><strong><%= t("map.contact-3-name") %></strong></td>
    <td><%= t("map.contact-3-address") %></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
