<% provide(:title, "业务地图") %>
<% provide(:meta_title, "业务地图") %>

<div class="container-fluid core-main biz-map">
  <ul class="list-inline second-level-nav">
    <li><%= link_to t("about.aboutus"), about_us_path, class: 'tianhua-font' %></li>
    <li><%= link_to t("about.management"), management_index_path, class: 'tianhua-font' %></li>
    <li><%= link_to t("about.designing"), designing_index_path, class: 'tianhua-font' %></li>
    <li class="activity"><%= link_to t("about.contact"), biz_map_path, class: 'tianhua-font' %></li>
  </ul>
  <div class="row" style="margin: 30px 0px;">
    <div class="col-lg-4 biz-banner">
      <p><%= t('map.telephone_exchange') -%>：</p>
      <p><a href="tel:021-64281588">021-64281588</a></p>
    </div>
    <div class="col-lg-4 biz-banner">
      <p><%= t('map.contact_hotline') -%>：</p>
      <p><a href="tel:400-8366606">400-8366606</a></p>
    </div>
    <div class="col-lg-4 biz-banner">
      <p><%= t('map.media_hotline') -%>：</p>
      <p><a href="tel:021-64281588-p8847">021-64281588-8847</a></p>
    </div>
  </div>
  <div class="row biz-banner-mobile">
    <p class="pull-left"><%= t('map.telephone_exchange') -%></p>
    <p class="pull-right"><a href="tel:021-64281588">021-64281588</a></p>
  </div>
  <div class="row biz-banner-mobile">
    <p class="pull-left"><%= t('map.contact_hotline') -%></p>
    <p class="pull-right"><a href="tel:400-8366606">400-8366606</a></p>
  </div>
  <div class="row biz-banner-mobile">
    <p class="pull-left"><%= t('map.media_hotline') -%></p>
    <p class="pull-right"><a href="tel:021-64281588-p8847">021-64281588-8847</a></p>
  </div>
  <div class="row div-map">
    <div class="col-md-12 iframe-map">
      <%= image_tag("map2.png", alt: "First slide", id: 'img-biz-map') %>
        <div class="map-item" id="map1">
          <%= link_to modal_biz_map_path(id: 1), remote: true do %>
            <div class="icon"><%= t("map.contact-1") -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map2">
          <%= link_to modal_biz_map_path(id: 2), remote: true do %>
            <div class="icon"><%= @contact2.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map3">
          <%= link_to modal_biz_map_path(id: 3), remote: true do %>
            <div class="icon"><%= @contact3.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map4">
          <%= link_to modal_biz_map_path(id: 4), remote: true do %>
            <div class="icon"><%= @contact4.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map5">
          <%= link_to modal_biz_map_path(id: 5), remote: true do %>
            <div class="icon"><%= @contact5.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map6">
          <%= link_to modal_biz_map_path(id: 6), remote: true do %>
            <div class="icon"><%= @contact6.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map7">
          <%= link_to modal_biz_map_path(id: 7), remote: true do %>
            <div class="icon"><%= t("map.contact-7") -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map8">
          <%= link_to modal_biz_map_path(id: 8), remote: true do %>
            <div class="icon"><%= @contact8.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map9">
          <%= link_to modal_biz_map_path(id: 9), remote: true do %>
            <div class="icon"><%= @contact9.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map10">
          <%= link_to modal_biz_map_path(id: 10), remote: true do %>
            <div class="icon"><%= @contact10.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map11">
          <%= link_to modal_biz_map_path(id: 11), remote: true do %>
            <div class="icon"><%= @contact11.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map12">
          <%= link_to modal_biz_map_path(id: 12), remote: true do %>
            <div class="icon"><%= @contact12.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map13">
          <%= link_to modal_biz_map_path(id: 13), remote: true do %>
            <div class="icon"><%= @contact13.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map14">
          <%= link_to modal_biz_map_path(id: 14), remote: true do %>
            <div class="icon"><%= @contact14.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map15">
          <%= link_to modal_biz_map_path(id: 15), remote: true do %>
            <div class="icon"><%= @contact15.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map16">
          <%= link_to modal_biz_map_path(id: 16), remote: true do %>
            <div class="icon"><%= @contact16.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map17">
          <%= link_to modal_biz_map_path(id: 17), remote: true do %>
            <div class="icon"><%= @contact17.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map18">
          <%= link_to modal_biz_map_path(id: 18), remote: true do %>
            <div class="icon"><%= @contact18.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map19">
          <%= link_to modal_biz_map_path(id: 19), remote: true do %>
            <div class="icon"><%= @contact19.name -%></div>
          <% end %>
        </div>
        <div class="map-item" id="map20">
          <%= link_to modal_biz_map_path(id: 20), remote: true do %>
            <div class="icon"><%= @contact20.name -%></div>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 company">
      <div class="table-red"><%= t("map.tianhua-map") %></div>
      <div class="table-responsive">
      <table class="table table-striped table-bordered" style="" width="">

        <%# 上海 %>
        <%= render partial: 'contact_1', locals: { need_collapse_in: true } %>

        <%# 北京 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact3 } %>

        <%# 广州 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact17 } %>

        <%# 深圳 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact9 } %>

        <%# 杭州 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact16 } %>

        <%# 香港 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact14 } %>

        <%# 天津 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact11 } %>

        <%# 南京 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact13 } %>

        <%# 武汉 %>
        <%= render partial: 'contact_7', locals: { need_collapse_in: false } %>

        <%# 成都 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact5 } %>

        <%# 重庆 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact6 } %>

        <%# 厦门 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact8 } %>

        <%# 沈阳 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact2 } %>

        <%# 郑州 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact15 } %>

        <%# 青岛 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact12 } %>

        <%# 西安 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact4 } %>

        <%# 合肥 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact18 } %>

        <%# 济南 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact10 } %>

        <%# 贵阳 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact19 } %>

        <%# 昆明 %>
        <%= render partial: 'contact', locals: { need_collapse_in: false, map_contact: @contact20 } %>
      </table>
      </div>
    </div>
  </div>


</div>

<div id="address-modal" class="modal" tabindex="-1" role="dialog"></div>
