<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h3>客户留言</h3>
<%= link_to '导出', admin_message_index_path(format: :csv), class: 'btn btn-primary' %>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th><h4>公司 / 姓名 <br /> 联系方式</h4></th>
      <th><h4>留言</h4></th>
      <th><h4>留言时间</h4></th>
      <th><h4>动作</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.company %> <%= link_to_if message.name.present?, message.name, admin_message_path(id: message.id) %>
          <br />
          <%= message.contact_details %>
        </td>
        <td><%= message.message %></td>
        <td><%= message.created_at %></td>
        <td>
          <%= link_to fa_icon("trash"), admin_message_path(message), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages, hide_goto_page: false %>
