<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="title" content="<%= full_title(yield(:title)) %>" />
    <link rel="shortlink" href="http://www.thape.com/cn" />
    <link rel="canonical" href="http://www.thape.com/cn" />
    <meta name="description" content="<%= @seo.description -%>" />
    <meta name="abstract" content="<%= @seo.abstract -%>" />
    <meta name="keywords" content="<%= @seo.keywords -%>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "blackapp" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blackapp', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
